# 忽略目录
src/
public/
node_modules/
scripts/
dist/
 
# 忽略指定文件
tsconfig.vite-config.json
tsconfig.json
env.d.ts
index.html
.npmignore
.gitignore
vite.config.ts
babel.config.js
*.map
package-lock.json
pnpm-lock.yaml
tsconfig.app.json
tsconfig.config.json
tsconfig.vitest.json
vitest.config.ts